.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .plussign::before {
    content: "\2795";
  }
  .point{
    cursor: pointer;
  }
  button.like{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    line-heigth: 50px;
    border-radius: 50%;
    color: rgba(0,150,136 ,1);
    background-color:rgba(38,166,154 ,0.3);
    border-color: rgba(0,150,136 ,1);
    border-width: 1px;
    font-size: 15px;
  }
  
  button.dislike{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    line-heigth: 50px;
    border-radius: 50%;
    color: rgba(255,82,82 ,1);
    background-color: rgba(255,138,128 ,0.3);
    border-color: rgba(255,82,82 ,1);
    border-width: 1px;
    font-size: 15px;
  }